@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1367ef;
}

/* Üst Navbar (iletisim) */
.iletisim {
    height: 50px;
    background-color: #1367ef;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    align-items: center;
}

.tel_mail a {
    color: rgb(4, 4, 4);
    text-decoration: none;
    margin-left: 20px;
}

.sosyal_medya a {
    color: rgb(8, 8, 8);
    margin-right: 15px;
}

/* Alt Navbar */
.icon {
    padding: 10px;
}

.icon a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin-right: 5px;
}

.icon a span {
    font-size: 13px;
}

.navbar-nav a {
    color: black;
    font-weight: 500;
}

.navbar-brand {
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}